@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.btn {
  padding: 18px;
  color: white;
  text-decoration: none;
  background-color: rgb(100, 25, 238);
  border-radius: 36px;
  border: none;
}

.purple {
  color: rgb(100, 25, 238);
}

/* 

NAVIGATION

*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  padding: 12px 
}

.logo__img {
  height: 56px;
}

.logo__name {
  font-size: 24px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 20px;
}

.nav__link--primary {
  color: white;
  background-color: rgb(95, 25, 225);
  border-radius: 36px;
}

/*

HEADER

*/

.header {
  display: flex;
  align-items: center;
  margin: 0 36px;
  padding-top: 48px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__title {
  font-size: 48px;
}

.header__img {
  width: 60%;
}

.header__img img {
  width: 100%;
}

.header__title {
  padding: 24px 0;
}

.header__para {
  line-height: 30px;
  padding: 16px 0;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  border: 1px solid rgb(183, 183, 183);
  padding: 2px;
  border-radius: 36px;
  margin-left: 18px;
  margin-bottom: 36px;
}

#email {
  flex-grow: 2;
  border: none;
  outline: none;
}

.header__small-text {
  font-size: 12px;
  color: rgb(183, 183, 183);
  margin-top: 48px;
  margin-bottom: 12px;
}