@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* 

NAVIGATION

*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  height: 56px;
}

.logo__name {
  font-size: 24px;
  padding-left: 10px;
}

.nav__links {

}
