@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.btn {
  padding: 18px;
  color: white;
  text-decoration: none;
  background-color: rgb(100, 25, 238);
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 48px;
}

p {
  color: rgb(110, 110, 110);
}

a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
}

.purple {
  color: rgb(100, 25, 238);
}

.purple__title {
  font-size: 16px;
  color: rgb(100, 25, 238);
}

/* 

NAVIGATION

*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  padding: 12px;
}

.logo__img {
  height: 56px;
}

.logo__name {
  font-size: 24px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 20px;
  cursor: pointer;
}

.nav__link--primary {
  color: white;
  background-color: rgb(95, 25, 225);
  border-radius: 36px;
  cursor: pointer;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: rgb(95, 25, 225);
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/*

HEADER

*/

.header {
  display: flex;
  align-items: center;
  margin: 48px 36px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__img {
  width: 60%;
}

.header__img img {
  width: 100%;
}

.header__title {
  padding: 24px 0;
}

.header__para {
  line-height: 30px;
  padding: 16px 0;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  border: 1px solid rgb(183, 183, 183);
  padding: 2px;
  border-radius: 36px;
  margin-left: 18px;
  margin-bottom: 36px;
}

#email {
  flex-grow: 2;
  border: none;
  outline: none;
}

.header__small-text {
  font-size: 12px;
  color: rgb(183, 183, 183);
  margin-top: 48px;
  margin-bottom: 12px;
}

/*

SERVICES

*/

.service {
  margin: 0 auto;
  text-align: center;
}

.service__header {
  padding: 28px 0;
  letter-spacing: 1px;
}

.service__para {
  margin: 0 auto;
  width: 40%;
  line-height: 28px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 0;
}

.service__box {
  display: flex;
  width: calc(100% / 3);
  padding: 18px 48px;
}

.service__description {
  display: flex;
  flex-direction: column;
}

.service__img {
  color: rgb(100, 25, 238);
  border: solid rgb(236, 236, 236) 2px;
  border-radius: 50%;
  padding: 16px;
}

.service__description--header {
  padding: 0 12px 8px;
  letter-spacing: 1px;
}

.service__description--para {
  padding: 0 12px;
  line-height: 28px;
  color: rgb(110, 110, 110);
}

/*

DESIGN

*/

.design {
  display: flex;
}

.design__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 48px 36px;
}

.design__header {
  margin-top: 24px;
  padding-right: 20px;
}

.design__para {
  line-height: 30px;
  padding: 16px 16px 24px 0;
}

.design__button {
  width: calc(100% / 3);
}

.design__img {
  width: 50%;
}

.design__img img {
  width: 100%;
}

/*

START

*/

.start {
  margin: 56px 0;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.start__img {
  width: 50%;
  padding-top: 40px;
}

.start__img img {
  width: 100%;
}

.start__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.start__header {
  padding-top: 24px;
  padding-bottom: 12px;
}

.start__box {
  display: flex;
  width: 66%;
  padding: 20px 0;
}

.start__box--text {
  display: flex;
  flex-direction: column;
}

.start__number {
  font-size: 32px;
  color: rgb(215, 215, 215);
  padding: 0 12px 0 8px;
}

.start__box--header {
  padding-bottom: 8px;
}

.start__box--para {
  line-height: 28px;
}

/*

PRICING

*/

.pricing__header {
  text-align: center;
}

.pricing__header--title {
  padding-top: 24px;
  padding-bottom: 12px;
}

.pricing__header--para {
  margin: 0 auto;
  width: 40%;
  line-height: 28px;
  padding-bottom: 24px;
}

.plans {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0 180px;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}

.plan__header,
.plan__description,
.plan__button {
  border: solid rgb(236, 236, 236) 1px;
  border-radius: 6px;
  padding: 24px 0;
  max-width: 300px;
}

.plan__title {
  font-size: 14px;
  padding-bottom: 8px;
}

.plan__price {
  font-size: 30px;
  padding-bottom: 8px;
}

.plan__frq {
  font-size: 12px;
}

.plan__description {
  line-height: 32px;
}

.plan__description--title {
  font-size: 16px;
}

.plan__description--para {
  font-size: 12px;
}

.plan__btn {
  padding: 18px;
  border-radius: 36px;
  border: none;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.plan__header--personal {
  border-top-style: solid;
  border-top-width: 14px;
  border-top-color: rgb(27, 202, 176);
}

.plan__btn--personal {
  color: white;
  background-color: rgb(12, 151, 93);
  background-image: linear-gradient(to bottom right, rgb(27, 202, 176), rgb(153, 242, 230));
}

.plan__header--focus, .plan__description--focus, .plan__button--focus {
  background-color: rgb(100, 25, 238);
  background-image: linear-gradient(to bottom right, rgb(172, 136, 239), rgb(100, 25, 238));
}

.plan__focus {
  color: white;
}

.plan__focus--para {
  color: white;
}

.plan__btn--focus {
  background-color: white;
  color: rgb(100, 25, 238);
}

.plan__header--enterprise {
  border-top-style: solid;
  border-top-width: 14px;
  border-top-color: rgb(243, 138, 77);
}

.plan__btn--enterprise {
  color: white;
  background-color: rgb(243, 138, 77);
  background-image: linear-gradient(to bottom right, rgb(243, 138, 77), rgb(247, 198, 169));
}

/*

LINKS

*/

.footer__row {
  width: 100%;
  background-color: rgb(100, 25, 238);
  background-image: linear-gradient(to bottom right, rgb(172, 136, 239), rgb(100, 25, 238));
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  color: white;
  padding: 48px 0;
}

.link__header {
  padding: 24px 0;
}

.footer__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 24px 24px;
}

.footer__info > .footer__logo {
  justify-self: start;
}

.footer__info > .copywright {
  justify-self: center;
}

.footer__info > .footer__socials {
  justify-self: end;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 80px;
}

.footer__logo--name {
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
  padding-left: 10px;
}

.copywright {
  color: rgb(165, 164, 164);
}

.footer__socials {
  color: white;
  display: flex;
  gap: 12px;
}

.footer__social {
  transform: scale(1.8);
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

.header__title {
  font-size: 32px;
  margin-top: 48px;
  padding-bottom: 2px;
}

.header__para {
  font-size: 12px;
  padding-bottom: 0;
}

.input-wrapper {
  display: none;
}

.header__small-text {
  margin-top: 18px;
}

.service__header {
  font-size: 32px;
}

.service__para {
  font-size: 14px;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design__header {
  font-size: 32px;
}

.design__para {
  font-size: 12px;
}

.design__button {
  width: 180px;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__header {
  font-size: 32px;
}

.start__box--header {
  font-size: 16px;
}

.start__box--para {
  font-size: 12px;
}

.pricing__header--title {
  font-size: 32px;
}

.pricing__header--para {
  font-size: 14px;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  text-align: center;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer__logo--img {
  height: 50px;
}

.footer__logo--name {
  font-size: 20px;
}

.copywright {
  font-size: 12px;
}

.footer__socials {
  transform: scale(0.8);
}